.buttonauth {
  padding: 0.75rem;
  background-color: rgba(0, 115, 102, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.buttonauth:hover {
  background-color: rgb(0, 77, 68);
  transform: scale(1.03);
}
.page-container {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}